POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=doc-vcs
APP_USER=vcs_server_user
APP_PASSWORD=vcs-dev-pass
GADMIN_EMAIL=mail@vcs.dev
PGADMIN_PASSWORD=1234
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=12345678
KC_DB_PASSWORD=12345678